.userRepositories {
  padding: 5rem 0 7.2rem;

  ul {
    li {
      & + li {
        margin-top: 1rem;
      }

      max-width: 960px;
      list-style: none;
      background: var(--white);
      box-shadow: 2px 0px 12px 6px rgba(0, 0, 0, 0.02);
      padding: 1.75rem;
      border-radius: 8px;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.4rem;
          color: var(--text-light);
          margin-bottom: 0.625rem;
        }

        a {
          margin-left: 0.5rem;
          transition: all 0.3s;

          &:hover {
            filter: brightness(0.8);
            transform: translateX(3px);
          }
        }
      }

      section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0 0.5rem;

        p {
          margin: 0;
          font-size: 1.125rem;
          line-height: 1.15rem;
          color: var(--text-dark);
          max-width: 650px;
        }

        strong {
          font-size: 0.9rem;
          color: var(--text-dark);
          color: var(--shapes-light);
          margin-left: 0.5rem;
        }
      }
    }
  }
}
