:root {
  --background: #f2f2fa;
  --text-light: #3d3d4c;
  --text-dark: #a8a8b3;
  --shapes-light: #c9c9d4;
  --green: #04d361;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--text);
}

body,
input,
textarea,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--background));
  border-radius: 7px;
}
